{% block content %}
    <!-- TODO: Delete everything in this container and make your own mix -->

    <div id="wrapper">

        <div class="container">

            <div class="psuedo_header">
                <h5>A <a href="http://mixture.io" target="_blank"><div>Mixture.io</div></a> Boilerplate</h5>
                <div class="header_right"></div>
            </div>


            <section class="masthead">
                <h2><strong>Top Shelf Boilerplate</strong> for <a href="mixture.io">Mixture.io</a> </h2>
                <h4>This Mixture.io boilerplate is built with </h4>
                <a href="http://bourbon.io">Bourbon</a> |
                <a href="http://neat.bourbon.io">Bourbon Neat</a> |
                <a href="http://bitters.bourbon.io">Bourbon Bitters</a> |
                <a href="https://github.com/kennethormandy/chasers">Chasers</a> |
                <a href="https://github.com/paulozoom/garnish">Garnish</a>
                <p>chilled with Normalize, jQuery & Modernizr.</p>

                <a href="http://github.com/qburns/topshelf" class="github">View on Github</a>

            </section>
        </div>

    </div>

{% endblock %}